/* Headings, Call-to-actions, Header Navigation */

/* Family: [Raleway](https://fonts.google.com/specimen/Raleway)
Weights: 400, 700 */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* Body */

/* Family: [Open Sans](https://fonts.google.com/specimen/Open+Sans)
Weights: 400 */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  /* Primary */

  --color-very-dark-blue: hsl(243, 87%, 12%);
  --color-desaturated-blue: hsl(238, 22%, 44%);

  /* Accent */

  --color-bright-blue: hsl(224, 93%, 58%);
  --color-moderate-cyan: hsl(170, 45%, 43%);

  /* Neutral */

  --color-light-grayish-blue: hsl(240, 80%, 98%);
  --color-light-gray: hsl(0, 0%, 75%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

img {
  height: auto;
  max-width: 100%;
}

a:link,
a:visited {
  text-decoration: none;
  color: #000;
  cursor: pointer;
  outline: none;
}

.btn {
  font-family: inherit;
  font-weight: bold;
}

.btn:focus {
  outline: none;
}

.d-flex {
  display: flex;
}
.d-flex.d-flex-column {
  flex-direction: column;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}

.form__email {
  height: 45px;
  border-radius: 5px;
  border: 1px solid var(--color-light-gray);
  padding: 0 25px;
  width: 55%;
  margin-right: 15px;
}

.btn {
  height: 45px;
  background-color: var(--color-bright-blue);
  color: white;
  padding: 0px 45px;
  border: none;
  border-radius: 5px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.12);
}

.wrapper {
  padding: 0 80px;
}

header {
  padding: 60px 0;
}

header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .nav .nav__list .nav__item {
  display: inline-block;
  list-style-type: none;
}

header .nav .nav__list .nav__item:not(:last-child) {
  margin-right: 60px;
}

header .banner {
  margin-top: 100px;
}

header .banner .left {
  padding-top: 40px;
}

header .banner .banner__title {
  font-size: 30px;
  color: var(--color-very-dark-blue);
  line-height: 1.5;
}

header .banner .banner__desc {
  margin: 30px 0;
}

header .banner .right img {
  max-width: 100%;
}

main {
  background-color: var(--color-light-grayish-blue);
  /* background-color: orangered; */
  padding: 100px 0 0 0;
  margin-top: -45px;
}

main section.subscription {
  background-color: var(--color-desaturated-blue);
  color: #fff;
}

main section.feature {
  padding-bottom: 100px;
}

main section.feature .left .feature__title {
  font-size: 30px;
  color: var(--color-very-dark-blue);
  margin-bottom: 45px;
}

main section.feature .left p:not(:last-child) {
  margin-bottom: 20px;
}

main section.feature .left .feature__cta {
  color: var(--color-moderate-cyan);
  padding-bottom: 2px;
  border-bottom: 1px solid var(--color-moderate-cyan);
}

main section.feature .left .card {
  margin-top: 45px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.12);
  max-width: 350px;
  padding: 20px 30px;
  font-size: 14px;
  line-height: 1.8;
  border-radius: 5px;
}

main section.feature .left .card img {
  margin-bottom: 2px;
}

main section.feature .left .card .card__author .card__author-image {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  margin-right: 10px;
}

main section.feature .right .feature__image {
  max-height: 90%;
  max-width: 90%;
}

main .subscription {
  padding: 100px 0 80px 0;
}

main .subscription .subscription__title {
  margin-bottom: 30px;
}

main .subscription .d-flex > div {
  flex-basis: 50%;
}

main .subscription .feature__email {
  display: block;
  width: 80%;
  margin-bottom: 15px;
}

footer {
  background-color: var(--color-very-dark-blue);
  color: #fff;
  padding: 100px 0 70px 0;
}

footer a {
  color: #fff !important;
}

footer ul {
  list-style: none;
}

footer .footer__logo {
  margin-bottom: 15px;
}

footer .d-flex > div {
  flex: 1;
}

.contact-list li {
  display: flex;
  align-items: center;
  text-align: justify;
}

.contact-list li img {
  display: inline-block;
  height: 100%;
  margin-right: 20px;
}

.contact-list li:not(:last-child) {
  margin-bottom: 20px;
}

.footer__nav div {
  margin: 0 10px;
}

.footer__nav div li:not(:last-child) {
  margin-bottom: 30px;
}

.social-icons div a {
  margin: 0 8px;
  border: 1px solid #fff;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.2s linear;

  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons div a .fab {
  color: #fff;
}

.social-icons div a:hover {
  background-color: #fff;
  border: none;
}

.social-icons a:hover .fab {
  color: var(--color-very-dark-blue);
}

@media only screen and (max-width: 1050px) {
  .wrapper {
    padding: 0 50px;
  }

  main {
    background-color: var(--color-light-grayish-blue);
    padding: 100px 0 0 0;
    margin-top: -10px;
  }

  main section.feature .right .feature__image {
    max-height: auto;
    max-width: 90%;
  }
}

@media only screen and (max-width: 900px) {
  .d-flex {
    flex-wrap: wrap;
  }

  header .banner.d-flex,
  main section.feature.d-flex {
    flex-wrap: wrap-reverse;
  }

  header .banner .right .banner__image,
  main section.feature .right .feature__image {
    max-width: 60%;
  }
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }

  header .banner .banner__title {
    font-size: 25px;
    line-height: 1.3;
  }

  main section.feature .left .feature__title {
    font-size: 25px;
    margin-bottom: 35px;
  }

  main .subscription .d-flex > div {
    flex-basis: 100%;
  }

  main .subscription .feature__email {
    margin-bottom: 15px;
    margin-top: 20px;
    width: 100%;
  }

  footer .d-flex > div {
    flex: 1;
  }
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }

  header {
    padding: 40px 0;
  }

  header .nav .nav__logo {
    width: 30%;
  }

  .form__email {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 15px;
  }

  .btn {
    padding: 0px 0px;
    width: 100%;
  }

  main .subscription .subscription__title {
    margin-bottom: 20px;
    text-align: center;
  }

  footer .footer__nav div {
    margin: 25px 0;
  }
  footer .d-flex > div {
    flex: 0 0 100%;
  }
}

@media only screen and (max-width: 460px) {

  .wrapper {
    padding: 0 30px;
  }

  header .nav .nav__list .nav__item:not(:last-child) {
    margin-right: 20px;
  }

  header .banner .banner__title {
    font-size: 18px;
    text-align: center;
  }

  header .banner {
    margin-top: 50px;
  }

  main section.feature .left .feature__title {
    font-size: 18px;
    margin-bottom: 30px;
  }

  main section.feature .left .card {
    margin: 35px auto 0 auto;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.12);
    max-width: 350px;
    padding: 20px 30px;
    font-size: 14px;
    line-height: 1.8;
    border-radius: 5px;
  }

  main .subscription {
    padding: 60px 0 40px 0;
  }

  main section.feature {
    padding-bottom: 40px;
  }

  main {
    padding: 10px 0 0 0;
  }

  main section.feature .left .feature__title {
    text-align: center;
    margin-bottom: 35px;
  }
}

@media only screen and (max-width: 374px) {
  header {
    padding: 30px 0;
  }

  header .nav {
    flex-direction: column;
    align-items: flex-start;
  }

  header .nav .nav__logo {
    width: 40%;
    margin-bottom: 20px;
  }
}
