/* - Family: [Inter](https://fonts.google.com/specimen/Inter)
- Weights: 400, 700 */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);

  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram: linear-gradient(to right, hsl(38, 44%, 83%), hsl(329, 70%, 58%));
  --youTube: hsl(348, 97%, 39%);
}

body {
  font-family: 'Inter', sans-serif;
}

.wrapper {
  /* padding: 0 150px; */
  max-width: 1110px;
  margin: 0 auto;
}

header {
  padding: 40px 0 150px 0;
}

header .wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.dashboards {
  padding: 0 0 30px 0;
  margin-top: -100px;
}

.dashboard-media {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}

.dashboard-box {
  width: 250px;
  padding: 25px;
}

.dashboard-media .dashboard-box {
  text-align: center;
}

.dashboard-media .social-media {
  margin-bottom: 25px;
}

.dashboard-media .social-media img {
  margin-right: 10px;
}

.dashboard-media .dashboard-box h1 {
  font-size: 40px;
  margin-bottom: 6px;
}

.dashboard-media .dashboard-box p {
  margin-bottom: 25px;
  letter-spacing: 5px;
  font-size: 12px;
  font-weight: 400;
  color: hsl(228, 12%, 44%);
  text-transform: uppercase;
}

.dashboard-overview .row {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.dashboard-overview .row:nth-child(1) {
  margin-bottom: 25px;
}

.dashboard-overview .row .d-flex {
  justify-content: space-between;
  align-items: center;
}

.dashboard-overview .row .dashboard-box .d-flex:nth-child(1) {
  margin-bottom: 30px;
}

.dashboard-overview .row .dashboard-box .d-flex h5 {
  color: hsl(228, 12%, 44%);
}

.dashboard-overview .row .dashboard-box .d-flex h2 {
  font-size: 25px;
  font-weight: 700;
}

span.color-green,
span.color-red {
  font-size: 12px;
  font-weight: 700;
  margin-left: 4px;
}

span.color-green {
  color: var(--lime-green);
}

span.color-red {
  color: var(--bright-red);
}

/* TOGGLE */

.toggle-div p {
  margin-right: 10px;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transition: transform 0.2s linear;
}

.ball.leftmove {
  transform: translateX(0px);
}

.ball.rightmove {
  transform: translateX(24px);
}

/* utilities */

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.color-gray {
  color: hsl(228, 12%, 44%);
}

/* media queries */
@media only screen and (max-width: 1300px) {
  .dashboard-box {
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 1100px) {
  .wrapper {
    padding: 0 80px;
  }
}

@media only screen and (max-width: 810px) {
  .dashboard-box {
    width: 400px;
  }
  .dashboards .dashboard-media {
    justify-content: center;
  }
  .overview-title {
    text-align: center;
  }
  .dashboard-overview .row {
    justify-content: center;
  }
}

@media only screen and (max-width: 768px) {
  header .wrapper {
    flex-direction: column;
  }
  header .wrapper .toggle-div {
    width: 100%;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1.5px solid #000;
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 600px) {
  .wrapper {
    padding: 0 30px;
  }
  .dashboard-media .dashboard-box h1 {
    font-size: 30px;
    margin-bottom: 6px;
  }
}

@media only screen and (max-width: 600px) {
  .dashboard-title {
    text-align: center;
  }
  .dashboard-title h1 {
    font-size: 25px;
  }
}
